[submodule "indentLine"]
	path = indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "keepcase"]
	path = keepcase
	url = https://github.com/vim-scripts/keepcase.vim.git
[submodule "ack"]
	path = ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "Align"]
	path = Align
	url = https://github.com/vim-scripts/Align.git
