[submodule "forcedotcom"]
	path = forcedotcom
	url = https://github.com/ejholmes/vim-forcedotcom.git
[submodule "vim-indent-guides"]
	path = vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "indentLine"]
	path = indentLine
	url = https://github.com/Yggdroot/indentLine.git
